*{
    padding: 0;
    margin: 0;
}
body,html{
    height: 200%;
    width: 120%
}
#r1,#r2{
    flex-direction: column;
}
#r1 div,#r2 div{
    height: 250px;
    width: 400px;
}
#nav{
    flex-direction: column;   
}
